################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/X12/.vs
/X12/bin
/X12/obj
/EdiFabricNativeExample/bin/Debug
/EdiFabricNativeExample/obj
/EdiFabricNativeExample/edifabric-x12-tools.dll
/EdiFabricNativeExample/edifabric-x12-tools.dll
